<swiper-container [modules]="swiperModules" (slidechange)="onResizeSwiper()" (init)="onResizeSwiper()" #swiperRef>
  <ng-container *ngIf="images?.length">
    <swiper-slide *ngFor="let img of images">
      <img height="auto" width="auto" [src]="onGetImgSrc(img)" alt="img">
    </swiper-slide>
  </ng-container>
  <swiper-slide>
    <img height="auto" width="auto" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" alt="img">
  </swiper-slide>
</swiper-container>
<span *ngIf="images?.length">{{(imgIndex + 1) + '/' + (images.length + 1)}}</span>