.red {
    color: #ff3d3d !important;
}

ion-label {
    opacity: 1 !important;
}

.bu-change-pic {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
}

.ng-invalid {
    color: white;
    background: #ff3d3d;
}

mat-option {
    background-color: black;
    color: white;
}

.gray {
    color: #545454;
}

.height100 {
    max-height: 100px;
}

.my-item--smaller {
    display: inline-block;
    width: 25%;
    position: relative;
    top: -29px;
}

.book-title {
    margin-left: 1rem;
    width: 100%;
}

.contenteditable {
    text-align: justify;
    outline-color: #ff3d3d;
    overflow: hidden;
}

mat-form-field,
.marged {
    margin: .5rem;
}

.flexed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &>* {
        flex-grow: 1;
    }
}

.mdc-text-field__input {
    width: unset;
    max-width: calc(100vw - .5rem);
}

.reduced {
    max-height: 10rem;
}

.pic-container {
    img {
        display: flex;
        margin: 1rem auto;
    }
}

.online-item {
    display: flex;

    ion-avatar {
        margin-right: .5rem;
    }
}

.serie-cont {
    border-bottom: thin double gray;
    border-top: thin double gray;

    &__books {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        &>div {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: .5rem;

            &>span {
                margin: auto .5rem;
                font-size: 1.5rem;
            }
        }
    }

    &__name {
        text-align: center;
        margin: 1rem auto;
        font-size: 1.5rem;
    }
}

.book-cont {
    display: flex;
    margin-bottom: .5rem;
}

.reduced-width {
    flex-basis: 53px;
}

.img {
    background-color: #413d3d;
}

.ad-bu-cont {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
