.red {
    color: #ff3d3d !important;
}

ion-label {
    opacity: 1 !important;
}

.bu-change-pic {
    position: absolute;
    top: 0%;
    left: 0%;
}

.ng-invalid {
    color: white;
    background: #ff3d3d;
}

mat-option {
    background-color: black;
    color: white;
}

.white {
    color: white;
}

.gray {
    color: #545454;
}

.height100 {
    max-height: 100px;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}

.my-item {
    display: inline-block;
    width: 50%;
}

.my-item--smaller {
    display: inline-block;
    width: 25%;
    position: relative;
    top: -29px;
}