@use '@angular/material' as mat;

// $light-theme: mat.define-theme((
//  color: (
//    theme-type: light,
//    primary: mat.$red-palette,
//  )
// ));

// $dark-theme: mat.define-theme((
//  color: (
//    theme-type: dark,
//    primary: mat.$red-palette,
//  )
// ));


// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

// .my-light-theme {
//     @include mat.core-color($light-theme);
//     @include mat.button-color($light-theme);
// }

// @include mat.all-component-themes($dark-theme);

.mat-form-field-infix {
    width: unset !important;
}

.gray {

    .mat-select-value,
    .mat-select-value-text {
        color: #545454;
    }
}

body {
    --ion-color-primary: var(--mat-sys-primary-container);
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #e03131;
    --ion-color-primary-tint: #ff4c4c;
    --ion-text-color: white;


    ion-label,
    .mat-select-value,
    .mat-select-value-text {
        color: white;
    }


    ion-searchbar,
    ion-segment-button {
        color: unset !important;
    }

}

ion-textarea {
    .label-text {
        color: var(--mat-sys-primary-container) !important;
    }

    .textarea-wrapper.sc-ion-textarea-md {
        margin: .5rem;
    }

    .textarea-disabled.sc-ion-textarea-md-h {
        opacity: unset;
    }

    &.textarea-label-placement-floating.sc-ion-textarea-md-h {
        opacity: unset;
    }

}

.ion-valid.sc-ion-textarea-md-h {
    --highlight-color: var(--mat-sys-primary-container);
}

.sc-ion-textarea-md {
    max-height: calc(100% - 3rem) !important;
    min-height: 1rem;
}

.mdc-floating-label {
    text-overflow: unset !important;
    overflow: visible !important;
}

.mat-mdc-form-field-infix {
    width: unset !important;
}

html:not(.hydrated) body {
    display: initial !important;
}

mat-select.hidden-arrow {
    .mat-mdc-select-arrow-wrapper {
        display: none;
    }
}

:root {
    @include mat.slider-overrides((
            active-track-color: var(--mat-sys-primary-container),
            inactive-track-color: var(--mat-sys-secondary-container),
            handle-color: var(--mat-sys-primary-container),
        ));
}

.thicker {
        @include mat.slider-overrides((
            active-track-color: var(--mat-sys-primary-container),
            inactive-track-color: var(--mat-sys-secondary-container),
            handle-color: var(--mat-sys-primary-container),
            inactive-track-height: 20,
            active-track-height: 20,
        ));
}