<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-title *ngIf="!ready2editing">book</ion-title>
            <ion-col *ngIf="ready2editing">
                <ion-button (click)="deleteBook()">delete</ion-button>
            </ion-col>
            <div *ngIf="book" class="buttons">
                <ion-button *ngIf="!ready2editing" (click)="onGo2('speech')">
                    <ion-icon slot="icon-only" name="megaphone"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!ready2editing" (click)="onGo2('spritz')">
                    <ion-icon slot="icon-only" name="book"></ion-icon>
                </ion-button>
                <ion-button *ngIf="bookChanged" (click)="updateBook()">
                    <ion-icon slot="icon-only" name="save"></ion-icon>
                </ion-button>
                <ion-button (click)="editable()">
                    <ion-icon *ngIf="!ready2editing" slot="icon-only" name="create"></ion-icon>
                    <ion-icon *ngIf="ready2editing" slot="icon-only" name="close"></ion-icon>
                </ion-button>
                <ion-button *ngIf="ready2editing && showAble" (click)="onGetBooksList()">
                    <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
                </ion-button>

                <ion-button *ngIf="ready2editing && book.path.substring(book.path.length - 4) === 'epub'"
                    (click)="getMetadataFromEpub()">
                    EPUB
                </ion-button>
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="bookForm" *ngIf="book && bookForm">
        <div *ngIf="ready2editing || bookForm.controls.img.value" class="pic-container">
            <div class="bu-change-pic" *ngIf="bookForm.controls.img.value && ready2editing">
                <ion-button *ngIf="bookForm.controls.img.value && !bookForm.controls.img.value.startsWith('/')"
                    (click)="downloadPicture()">
                    <ion-icon slot="icon-only" name="download-sharp"></ion-icon>
                </ion-button>
                <ion-button (click)="onRemovePic(bookForm.controls.img.value)">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
                <ion-button *ngIf="listsOfValues.img.length > 1" (click)="onSwitchPic()">
                    <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>

            <img *ngIf="bookForm.controls.img.value" [src]="onGetImgSrc(bookForm.controls.img.value)" alt="cover">
            <img *ngIf="!bookForm.controls.img.value && ready2editing" style="background-color: #413d3d;"
                src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" alt="unknown">
        </div>

        <div class="flexed">
            <ion-textarea *ngIf="bookForm.controls.serie.value || ready2editing" label="Serie" labelPlacement="floating"
                fill="solid" formControlName="serie" matInput [ngClass]="ready2editing ? 'white' : 'gray'"
                autoGrow="true">
            </ion-textarea>
            <ng-container *ngFor="let serie of listsOfValues.serie">
                <mat-option *ngIf="bookForm.controls.serie.value !== serie && ready2editing" [value]="serie"
                    (onSelectionChange)="onInput('serie', serie)">
                    {{ serie }}
                </mat-option>
            </ng-container>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.serieOrder.value || ready2editing"
                id="serieOrder">
                <mat-label class="red">Serie order</mat-label>
                <input type="text" formControlName="serieOrder" matInput [matAutocomplete]="autoSerieOrder"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoSerieOrder="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let serieOrder of listsOfValues.serieOrder">
                        <mat-option *ngIf="bookForm.controls.serieOrder.value !== serieOrder" [value]="serieOrder">
                            {{ serieOrder }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <ion-textarea *ngIf="bookForm.controls.title.value || ready2editing" label="Title" labelPlacement="floating"
                fill="solid" formControlName="title" matInput [ngClass]="ready2editing ? 'white' : 'gray'"
                autoGrow="true" (keydown.enter)="onSkipKey($event)">
            </ion-textarea>
            <ng-container *ngFor="let title of listsOfValues.title">
                <mat-option *ngIf="bookForm.controls.title.value !== title && ready2editing" [value]="title"
                    (onSelectionChange)="onInput('title', title)">
                    {{ title }}
                </mat-option>
            </ng-container>

            <!-- <mat-form-field subscriptSizing="dynamic" *ngIf="jsonBooks && ready2editing">
                <mat-label class="red">Choose an option</mat-label>
                <mat-select (selectionChange)="getBookData($event.value)">
                    <mat-option *ngFor="let book of jsonBooks" [value]="book.index">
                        {{ book.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <ion-textarea *ngIf="bookForm.controls.originalTitle.value || ready2editing" label="Original title"
                labelPlacement="floating" fill="solid" formControlName="originalTitle" matInput
                [ngClass]="ready2editing ? 'white' : 'gray'" autoGrow="true">
            </ion-textarea>
            <ng-container *ngFor="let originalTitle of listsOfValues.originalTitle">
                <mat-option *ngIf="bookForm.controls.originalTitle.value !== originalTitle && ready2editing"
                    [value]="originalTitle" (onSelectionChange)="onInput('originalTitle', originalTitle)">
                    {{ originalTitle }}
                </mat-option>
            </ng-container>

            <ion-textarea *ngIf="bookForm.controls.genre.value || ready2editing" label="Genre" labelPlacement="floating"
                fill="solid" formControlName="genre" matInput [ngClass]="ready2editing ? 'white' : 'gray'"
                autoGrow="true">
            </ion-textarea>
            <ng-container *ngFor="let genre of listsOfValues.genre">
                <mat-option *ngIf="bookForm.controls.genre.value !== genre && ready2editing" [value]="genre"
                    (onSelectionChange)="onInput('genre', genre)">
                    {{ genre }}
                </mat-option>
            </ng-container>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.ISBN.value || ready2editing" id="ISBN">
                <mat-label class="red">ISBN</mat-label>
                <input type="text" formControlName="ISBN" matInput [matAutocomplete]="autoISBN"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoISBN="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let ISBN of listsOfValues.ISBN">
                        <mat-option *ngIf="bookForm.controls.ISBN.value !== ISBN" [value]="ISBN">
                            {{ ISBN }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.publisher.value || ready2editing"
                id="publisher">
                <mat-label class="red">Publisher</mat-label>
                <input type="text" formControlName="publisher" matInput [matAutocomplete]="autoPublisher"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoPublisher="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let publisher of listsOfValues.publisher">
                        <mat-option *ngIf="bookForm.controls.publisher.value !== publisher" [value]="publisher">
                            {{ publisher }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.published.value || ready2editing"
                style="flex-basis: 85px;">
                <mat-label class="red">Published</mat-label>
                <input type="number" formControlName="published" matInput [matAutocomplete]="autoPublished"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoPublished="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let published of listsOfValues.published">
                        <mat-option *ngIf="bookForm.controls.published.value !== +published" [value]="+published">
                            {{ published }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.language.value || ready2editing"
                style="flex-basis: 103px;">
                <mat-label class="red">Language</mat-label>
                <mat-select interface="popover" formControlName="language" [ngClass]="ready2editing ? 'white' : 'gray'">
                    <mat-option value="cs-CZ">Česky</mat-option>
                    <mat-option value="en-US">English</mat-option>
                    <mat-option value="de-DE">Deutsch</mat-option>
                    <mat-option value="ru-RU">русский</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.translator.value || ready2editing"
                id="translator">
                <mat-label class="red">Tranlator</mat-label>
                <input type="text" formControlName="translator" matInput [matAutocomplete]="autoTranslator"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoTranslator="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let translator of listsOfValues.translator">
                        <mat-option *ngIf="bookForm.controls.translator.value !== translator" [value]="translator">
                            {{ translator }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.length.value || ready2editing"
                id="pages">
                <mat-label class="red">Pages</mat-label>
                <input type="number" formControlName="length" matInput [matAutocomplete]="autoPages"
                    [ngClass]="ready2editing ? 'white' : 'gray'">
                <mat-autocomplete #autoPages="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let pages of listsOfValues.length">
                        <mat-option *ngIf="bookForm.controls.length.value !== pages" [value]="pages">
                            {{ pages }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.progress.value || ready2editing">
                <mat-label class="red">Progress</mat-label>
                <input class="gray" disabled [value]="bookForm.controls.progress.value" matInput>
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.added.value">
                <mat-label class="red">Added</mat-label>
                <input class="gray" disabled type="text" matInput
                    [value]="bookForm.controls.added.value | date:'dd.MM.yyyy, hh:mm:ss'">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.lastRead.value">
                <mat-label class="red">Last Read</mat-label>
                <input class="gray" disabled type="text" matInput
                    [value]="bookForm.controls.lastRead.value | date:'dd.MM.yyyy, hh:mm:ss'">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.finished.value">
                <mat-label class="red">Finished</mat-label>
                <input class="gray" disabled type="text" matInput
                    [value]="bookForm.controls.finished.value | date:'dd.MM.yyyy, hh:mm:ss'">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" *ngIf="bookForm.controls.rating.value || ready2editing"
                style="flex-basis: 100px;">
                <mat-label class="red">Rating</mat-label>
                <mat-select interface="popover" formControlName="rating" [ngClass]="ready2editing ? 'white' : 'gray'">
                    <mat-option [value]="0">0</mat-option>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="marged biogr" *ngIf="bookForm.controls.annotation.value || ready2editing">
            <mat-label class="red">Annotation</mat-label>
            <div (click)="onReduceHeight()">
                <p class="contenteditable" [editable]="ready2editing" formControlName="annotation" matInput
                    [class]="ready2editing ? 'white' : 'gray'"
                    [ngClass]="{'reduced': bookForm.controls.annotation.disabled && _textAreaReduced}">
                </p>
            </div>
        </div>

        <div #target *ngIf="ready2editing &&
            (onlineAllBooksList?.length || onlineBookList?.length || onlineBookListLegie?.length ||
                onlineShortStoriesListLegie?.length || onlineBookListOfAuthorCBDB?.length || onlineBookListCBDB)">
            <div class="online-item" *ngFor="let item of onlineBookList" (click)="downloadBookInfo(item)">
                <ion-avatar *ngIf="item.img">
                    <img [src]="item.img" alt="img" />
                </ion-avatar>
                <div class="ion-text-wrap">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.comment }}</p>
                </div>
            </div>

            <div class="online-item" *ngFor="let item of onlineAllBooksList" (click)="downloadBookInfo(item)">
                <ion-avatar *ngIf="item.img">
                    <img [src]="item.img" alt="img" />
                </ion-avatar>
                <div class="ion-text-wrap">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.comment }}</p>
                </div>
            </div>
            <div class="legies" *ngFor="let item of onlineBookListLegie">
                <h1 class="legies__serie" *ngIf="item.serie?.title">{{ item.serie.title }}</h1>
                <div *ngFor="let book of item.books" class="legies__book" (click)="downloadBookInfo(book)">
                    <h2 *ngIf="book.title">{{ book.title }}</h2>
                    <span *ngIf="book.review">{{ book.review }}</span>
                </div>
            </div>
            <h1 class="legies__serie" *ngIf="onlineShortStoriesListLegie?.length">Short stories</h1>
            <div class="legies" *ngFor="let item of onlineShortStoriesListLegie">
                <div class="legies__book" (click)="downloadShortStoryInfo(item)">
                    <h2 *ngIf="item.title">{{ item.title }}</h2>
                    <span *ngIf="item.review">{{ item.review }}</span>
                </div>
            </div>

            <div class="cbdb" *ngIf="onlineBookListCBDB">
                <div *ngFor="let dt of ['main', 'foreign', 'partly']">
                    <div *ngFor="let book of onlineBookListCBDB[dt]" (click)="downloadBookInfoCBDB(book.link)">
                        <ion-avatar *ngIf="book.img">
                            <img [src]="book.img" alt="img" />
                        </ion-avatar>
                        <ion-avatar *ngIf="book.flag">
                            <img [src]="book.flag" alt="img" />
                        </ion-avatar>
                        <h2 *ngIf="book.title">{{ book.title }}</h2>
                        <span *ngIf="book.author">{{ book.author }}</span>
                    </div>
                </div>
            </div>

            <div class="legies" *ngIf="onlineBookListOfAuthorCBDB?.length">
                <div *ngFor="let book of onlineBookListOfAuthorCBDB" (click)="downloadBookInfoCBDB(book.link)">
                    <ion-avatar *ngIf="book.img">
                        <img [src]="book.img" alt="img" />
                    </ion-avatar>
                    <h2 *ngIf="book.title">{{ book.title }}</h2>
                    <span *ngIf="book.rating">{{ book.rating }}</span>
                </div>
            </div>
        </div>
    </form>
</ion-content>