ion-label {
    color: #ff3d3d !important;
    opacity: 1 !important;
}

.red {
    color: #ff3d3d !important;
}

.ng-invalid {
    color: red;
}

.bu-change-pic {
    position: absolute;
    top: 0%;
    left: 0%;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}

div.popover-content.sc-ion-popover-md {
    width: 100%;
}

ion-select {
    width: 100%;

    justify-content: center;
}

ion-select-popover {
    width: 95%;
}

.mat-select-value {
    color: white !important;
}

mat-option {
    background: black;
    color: white;
}

mat-option:hover {
    background: rgb(56, 54, 54);
    color: white;
}

.gray {
    color: #545454;
}

.contenteditable {
    text-align: justify;
    outline-color: #ff3d3d;
    overflow: hidden;
}

mat-form-field, .marged {
    margin: .5rem;
    max-width: 95vw;
}

.flexed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
        flex-basis: content;
    }
}

.reduced {
    max-height: 10rem;
}

mat-select {
    width: 5rem;
}

.pic-container {
    img {
        display: flex;
        margin: 1rem auto;
    }
}

.online-item {
    display: flex;
    ion-avatar {
        margin-right: .5rem;
    }
}
