ion-label {
    color: #ff3d3d !important;
    opacity: 1 !important;
}

.ng-invalid {
    color: red;
}

.bu-change-pic {
    position: absolute;
    top: 0%;
    left: 0%;
}

.spinner {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: scale(9);
}