<div class="header">
    @if (ready2editing()) {
        <button mat-mini-fab (click)="deleteBook()">
            <mat-icon>delete</mat-icon>
        </button>
    } @else {
        <div class="wdth"></div>
        <ion-title>book</ion-title>
    }

    @if (book) {
        <div class="buttons">
            @if (!ready2editing()) {
                <button mat-mini-fab (click)="onGo2('speech')">
                    <mat-icon>campaign</mat-icon>
                </button>
                <button mat-mini-fab (click)="onGo2('spritz')">
                    <mat-icon>auto_stories</mat-icon>
                </button>
            }
            @if (bookChanged) {
                <button mat-mini-fab (click)="updateBook()">
                    <mat-icon>save</mat-icon>
                </button>
            }

            <button mat-mini-fab (click)="editable()">
                <mat-icon>{{ ready2editing() ? "clear" : "edit" }}</mat-icon>
            </button>

            @if (ready2editing()) {
                @if (showAble) {
                    <button mat-mini-fab (click)="onGetBooksList()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                }
                @if (book.path.substring(book.path.length - 4) === "epub") {
                    <button class="upper" mat-mini-fab (click)="getMetadataFromEpub()">EPUB</button>
                }
            }
        </div>
    }
</div>

<div class="spaced">
    @if (book && bookForm) {
        <form [formGroup]="bookForm">
            @if (ready2editing() || bookForm.controls.img.value) {
                <div class="pic-container">
                    <div class="bu-change-pic">
                        @if (ready2editing()) {
                            @if (bookForm.controls.img.value) {
                                @if (!bookForm.controls.img.value.startsWith("/")) {
                                    <button mat-mini-fab (click)="downloadPicture()">
                                        <mat-icon>download_for_offline</mat-icon>
                                    </button>
                                }
                                <button mat-mini-fab (click)="onRemovePic()">
                                    <mat-icon>remove_circle</mat-icon>
                                </button>
                            }
                            <button mat-mini-fab (click)="onAddPicture()">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        }
                    </div>

                    @if (ready2editing()) {
                        <app-picture
                            [imgPreLink]="dir.imgPreLink"
                            [images]="listsOfValues.img"
                            [dirPath]="dirPath"
                            (changeEvent)="onPicChanged($event)"
                            #pictureC>
                        </app-picture>
                    } @else if (bookForm.controls.img.value) {
                        <img height="auto" width="auto" [src]="onGetImgSrc(bookForm.controls.img.value)" alt="img" />
                    }
                </div>
            }

            <div class="flexed" #contEl>
                @if (bookForm.controls.serie.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Serie</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.serie"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('serie')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "serie" && listsOfValues.serie?.length) {
                            <div class="overflowed">
                                @for (serie of listsOfValues.serie; track $index) {
                                    @if (bookForm.controls.serie.value !== serie) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="serie"
                                            (onSelectionChange)="onInput('serie', serie)">
                                            {{ serie }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.serieOrder.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Serie order</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.serieOrder"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('serieOrder')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "serieOrder" && listsOfValues?.length) {
                            <div class="overflowed">
                                @for (serieOrder of listsOfValues.serieOrder; track $index) {
                                    @if (bookForm.controls.serieOrder.value !== serieOrder) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="serieOrder"
                                            (onSelectionChange)="onInput('serieOrder', serieOrder)">
                                            {{ serieOrder }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.title.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Title</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.title"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('title')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "title" && listsOfValues.title?.length) {
                            <div class="overflowed">
                                @for (title of listsOfValues.title; track $index) {
                                    @if (bookForm.controls.title.value !== title) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="title"
                                            (onSelectionChange)="onInput('title', title)">
                                            {{ title }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                <!-- @if (jsonBooks && ready2editing()) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Choose an option</mat-label>
                        <mat-select (selectionChange)="getBookData($event.value)">
                            @for (book of jsonBooks; track $index) {
                                <mat-option [value]="book.index">
                                    {{ book.title }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                } -->

                @if (bookForm.controls.originalTitle.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Original title</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.originalTitle"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('originalTitle')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "originalTitle" && listsOfValues.originalTitle) {
                            <div class="overflowed">
                                @for (originalTitle of listsOfValues.originalTitle; track $index) {
                                    @if (bookForm.controls.originalTitle.value !== originalTitle) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="originalTitle"
                                            (onSelectionChange)="onInput('originalTitle', originalTitle)">
                                            {{ originalTitle }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.genre.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Genre</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.genre"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('genre')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "genre" && listsOfValues.genre?.length) {
                            <div class="overflowed">
                                @for (genre of listsOfValues.genre; track $index) {
                                    @if (bookForm.controls.genre.value !== genre) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="genre"
                                            (onSelectionChange)="onInput('genre', genre)">
                                            {{ genre }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.ISBN.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">ISBN</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.ISBN"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('ISBN')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "ISBN" && listsOfValues.ISBN?.length) {
                            <div class="overflowed">
                                @for (ISBN of listsOfValues.ISBN; track $index) {
                                    @if (bookForm.controls.ISBN.value !== ISBN) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="ISBN"
                                            (onSelectionChange)="onInput('ISBN', ISBN)">
                                            {{ ISBN }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.publisher.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Publisher</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.publisher"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('publisher')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "publisher" && listsOfValues?.length) {
                            <div class="overflowed">
                                @for (publisher of listsOfValues.publisher; track $index) {
                                    @if (bookForm.controls.publisher.value !== publisher) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="publisher"
                                            (onSelectionChange)="onInput('publisher', publisher)">
                                            {{ publisher }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.published.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Published</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.published"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('published')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "published" && listsOfValues?.length) {
                            <div class="overflowed">
                                @for (published of listsOfValues.published; track $index) {
                                    @if (bookForm.controls.published.value !== published) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="published"
                                            (onSelectionChange)="onInput('published', published)">
                                            {{ published }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.language.value || ready2editing()) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Language</mat-label>
                        <mat-select
                            interface="popover"
                            formControlName="language"
                            [ngClass]="ready2editing() ? 'white' : 'gray'">
                            <mat-option value="cs-CZ">Česky</mat-option>
                            <mat-option value="en-US">English</mat-option>
                            <mat-option value="de-DE">Deutsch</mat-option>
                            <mat-option value="ru-RU">русский</mat-option>
                        </mat-select>
                    </mat-form-field>
                }

                @if (bookForm.controls.translator.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Tranlator</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.translator"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('translator')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "translator" && listsOfValues?.length) {
                            <div class="overflowed">
                                @for (translator of listsOfValues.translator; track $index) {
                                    @if (bookForm.controls.translator.value !== translator) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="translator"
                                            (onSelectionChange)="onInput('translator', translator)">
                                            {{ translator }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.length.value || ready2editing()) {
                    <div class="clm">
                        <mat-form-field subscriptSizing="dynamic" (click)="appContenteditable.focus()">
                            <mat-label class="red">Pages</mat-label>
                            <app-contenteditable
                                #appContenteditable
                                [formControl]="bookForm.controls.length"
                                [ngClass]="ready2editing() ? 'white' : 'gray'"
                                (_onFocus)="onFocus('length')"
                                (_onBlur)="onBlur()">
                            </app-contenteditable>
                        </mat-form-field>
                        @if (ready2editing() && focusedOn === "length" && listsOfValues.length?.length) {
                            <div class="overflowed">
                                @for (length of listsOfValues.length; track $index) {
                                    @if (bookForm.controls.length.value !== length) {
                                        <mat-option
                                            class="autocomplete-option"
                                            [value]="length"
                                            (onSelectionChange)="onInput('length', length)">
                                            {{ length }}
                                        </mat-option>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

                @if (bookForm.controls.progress.value) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Progress</mat-label>
                        <app-contenteditable class="gray" [formControl]="bookForm.controls.progress">
                        </app-contenteditable>
                    </mat-form-field>
                }

                @if (bookForm.controls.added.value) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Added</mat-label>
                        <app-contenteditable
                            disabled
                            class="gray"
                            [value]="bookForm.controls.added.value | date: 'd.M.yy, H:mm:ss'">
                        </app-contenteditable>
                    </mat-form-field>
                }

                @if (bookForm.controls.lastRead.value) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Last Read</mat-label>
                        <app-contenteditable
                            disabled
                            class="gray"
                            [value]="bookForm.controls.lastRead.value | date: 'd.M.yy, H:mm:ss'">
                        </app-contenteditable>
                    </mat-form-field>
                }

                @if (bookForm.controls.finished.value) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Finished</mat-label>
                        <app-contenteditable
                            disabled
                            class="gray"
                            [value]="bookForm.controls.finished.value | date: 'd.M.yy, H:mm:ss'">
                        </app-contenteditable>
                    </mat-form-field>
                }

                @if (book.path) {
                    <mat-form-field subscriptSizing="dynamic" [ngClass]="{ 'full-width': book.path }">
                        <mat-label class="red">Path</mat-label>
                        <app-contenteditable disabled class="gray" [value]="book.path"> </app-contenteditable>
                    </mat-form-field>
                }

                @if (bookForm.controls.rating.value || ready2editing()) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label class="red">Rating</mat-label>
                        <mat-select
                            interface="popover"
                            formControlName="rating"
                            [ngClass]="ready2editing() ? 'white' : 'gray'">
                            <mat-option [value]="0">0</mat-option>
                            <mat-option [value]="1">1</mat-option>
                            <mat-option [value]="2">2</mat-option>
                            <mat-option [value]="3">3</mat-option>
                            <mat-option [value]="4">4</mat-option>
                            <mat-option [value]="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                }
            </div>

            @if (bookForm.controls.annotation.value || ready2editing()) {
                <div class="marged biogr">
                    <mat-label class="red">Annotation</mat-label>
                    <div (click)="onReduceHeight()">
                        <p
                            class="contenteditable"
                            [editable]="ready2editing()"
                            formControlName="annotation"
                            matInput
                            [class]="ready2editing() ? 'white' : 'gray'"
                            [ngClass]="{ reduced: bookForm.controls.annotation.disabled && _textAreaReduced }"></p>
                    </div>
                </div>
            }

            @if (
                ready2editing() &&
                (onlineAllBooksList?.length ||
                    onlineBookList?.length ||
                    onlineBookListLegie?.length ||
                    onlineShortStoriesListLegie?.length ||
                    onlineBookListOfAuthorCBDB?.length ||
                    onlineBookListCBDB)
            ) {
                <div #target>
                    @for (item of onlineBookList; track $index) {
                        <div class="online-item" (click)="downloadBookInfo(item)">
                            @if (item.img) {
                                <ion-avatar>
                                    <img [src]="item.img" alt="img" />
                                </ion-avatar>
                            }
                            <div class="ion-text-wrap">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.comment }}</p>
                            </div>
                        </div>
                    }

                    @for (item of onlineAllBooksList; track $index) {
                        <div class="online-item" (click)="downloadBookInfo(item)">
                            @if (item.img) {
                                <ion-avatar>
                                    <img [src]="item.img" alt="img" />
                                </ion-avatar>
                            }
                            <div class="ion-text-wrap">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.comment }}</p>
                            </div>
                        </div>
                    }
                    @for (item of onlineBookListLegie; track $index) {
                        <div class="legies">
                            @if (item.serie?.title) {
                                <h1 class="legies__serie">{{ item.serie.title }}</h1>
                            }
                            @for (book of item.books; track $index) {
                                <div class="legies__book" (click)="downloadBookInfo(book)">
                                    @if (book.title) {
                                        @if (book.title) {
                                            <h2>{{ book.title }}</h2>
                                        }
                                    }
                                    @if (book.review) {
                                        <span>{{ book.review }}</span>
                                    }
                                </div>
                            }
                        </div>
                    }
                    @if (onlineShortStoriesListLegie?.length) {
                        <h1 class="legies__serie">Short stories</h1>
                    }
                    @for (item of onlineShortStoriesListLegie; track $index) {
                        <div class="legies">
                            <div class="legies__book" (click)="downloadShortStoryInfo(item)">
                                @if (item.title) {
                                    <h2>{{ item.title }}</h2>
                                }
                                @if (item.review) {
                                    <span>{{ item.review }}</span>
                                }
                            </div>
                        </div>
                    }

                    @if (onlineBookListCBDB) {
                        <div class="cbdb">
                            @for (dt of ["main", "foreign", "partly"]; track $index) {
                                <div>
                                    @for (book of onlineBookListCBDB[dt]; track $index) {
                                        <div (click)="downloadBookInfoCBDB(book.link)">
                                            @if (book.img) {
                                                <ion-avatar>
                                                    <img [src]="book.img" alt="img" />
                                                </ion-avatar>
                                            }
                                            @if (book.flag) {
                                                <ion-avatar>
                                                    <img [src]="book.flag" alt="img" />
                                                </ion-avatar>
                                            }
                                            @if (book.title) {
                                                <h2>{{ book.title }}</h2>
                                            }
                                            @if (book.author) {
                                                <span>{{ book.author }}</span>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    @if (onlineBookListOfAuthorCBDB?.length) {
                        <div class="legies">
                            @for (book of onlineBookListOfAuthorCBDB; track $index) {
                                <div (click)="downloadBookInfoCBDB(book.link)">
                                    @if (book.img) {
                                        <ion-avatar>
                                            <img [src]="book.img" alt="img" />
                                        </ion-avatar>
                                    }
                                    @if (book.title) {
                                        <h2>{{ book.title }}</h2>
                                    }
                                    @if (book.rating) {
                                        <span>{{ book.rating }}</span>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </form>
    }
</div>
