<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-title *ngIf="!ready2editing">book</ion-title>
            <ion-col *ngIf="ready2editing">
                <ion-button (click)="deleteBook()">delete</ion-button>
            </ion-col>
            <div *ngIf="dontworryiwillnameyoulater && dontworryiwillnameyoulater2 && book" class="buttons">
                <ion-button *ngIf="!ready2editing" [routerLink]="['/', 'tts', dontworryiwillnameyoulater]">
                    <ion-icon slot="icon-only" name="megaphone"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!ready2editing" [routerLink]="['/', 'tts', dontworryiwillnameyoulater2]">
                    <ion-icon slot="icon-only" name="book"></ion-icon>
                </ion-button>
                <ion-button *ngIf="bookChanged" (click)="updateBook()">
                    <ion-icon slot="icon-only" name="save"></ion-icon>
                </ion-button>
                <ion-button (click)="editable()">
                    <ion-icon *ngIf="!ready2editing" slot="icon-only" name="create"></ion-icon>
                    <ion-icon *ngIf="ready2editing" slot="icon-only" name="close"></ion-icon>
                </ion-button>
                <ion-button *ngIf="ready2editing && showAble" (click)="onGetBooksList()">
                    <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
                </ion-button>

                <ion-button *ngIf="ready2editing && book.path.substring(book.path.length - 4) === 'epub'"
                    (click)="getMetadataFromEpub()">
                    EPUB
                </ion-button>
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="bookForm" *ngIf="book && bookForm">
        <div *ngIf="ready2editing || bookForm.get('img').value" class="pic-container">
            <div class="bu-change-pic" *ngIf="bookForm.get('img').value && ready2editing">
                <ion-button *ngIf="!bookForm.get('img').value.startsWith('/')" (click)="downloadPicture()">
                    <ion-icon slot="icon-only" name="download-sharp"></ion-icon>
                </ion-button>
                <ion-button (click)="onRemovePic(bookForm.get('img').value)">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
                <ion-button *ngIf="listsOfValues.img.length > 1" (click)="onSwitchPic()">
                    <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>

            <img *ngIf="bookForm.get('img').value" [src]="onGetImgSrc(bookForm.get('img').value)">
            <img *ngIf="!bookForm.get('img').value && ready2editing" style="background-color: #413d3d;"
                src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg">
        </div>

        <div class="flexed">
            <mat-form-field *ngIf="bookForm.get('serie').value || ready2editing">
                <mat-label class="red">Serie</mat-label>
                <input type="text" formControlName="serie" matInput [matAutocomplete]="autoSerie"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('serie', 'Serie')">
                <mat-autocomplete #autoSerie="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let serie of listsOfValues.serie">
                        <mat-option *ngIf="bookForm.get('serie').value !== serie" [value]="serie">
                            {{ serie }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('serieOrder').value || ready2editing">
                <mat-label class="red">Serie order</mat-label>
                <input type="text" formControlName="serieOrder" matInput [matAutocomplete]="autoSerieOrder"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('serieOrder', 'Serie order')">
                <mat-autocomplete #autoSerieOrder="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let serieOrder of listsOfValues.serieOrder">
                        <mat-option *ngIf="bookForm.get('serieOrder').value !== serieOrder" [value]="serieOrder">
                            {{ serieOrder }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('title').value || ready2editing">
                <mat-label class="red">Title</mat-label>
                <input type="text" formControlName="title" matInput [matAutocomplete]="autoTitle"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('title', 'Title')">
                <mat-autocomplete #autoTitle="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let title of listsOfValues.title">
                        <mat-option *ngIf="bookForm.get('title').value !== title" [value]="title">
                            {{ title }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="jsonBooks && ready2editing">
                <mat-label class="red">Choose an option</mat-label>
                <mat-select (selectionChange)="getBookData($event.value)">
                    <mat-option *ngFor="let book of jsonBooks" [value]="book.index">
                        {{ book.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field *ngIf="bookForm.get('originalTitle').value || ready2editing">
                <mat-label class="red">Original title</mat-label>
                <input type="text" formControlName="originalTitle" matInput [matAutocomplete]="autoOriginalTitle"
                    [ngClass]="ready2editing ? 'white' : 'gray'"
                    [ngStyle]="onGetWidth('originalTitle', 'Original title')">
                <mat-autocomplete #autoOriginalTitle="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let originalTitle of listsOfValues.originalTitle">
                        <mat-option *ngIf="bookForm.get('originalTitle').value !== originalTitle"
                            [value]="originalTitle">
                            {{ originalTitle }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('genre').value || ready2editing">
                <mat-label class="red">Genre</mat-label>
                <input type="text" formControlName="genre" matInput [matAutocomplete]="autoGenre"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('genre', 'Genre_')">
                <mat-autocomplete #autoGenre="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let genre of listsOfValues.genre">
                        <mat-option *ngIf="bookForm.get('genre').value !== genre" [value]="genre">
                            {{ genre }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('ISBN').value || ready2editing">
                <mat-label class="red">ISBN</mat-label>
                <input type="text" formControlName="ISBN" matInput [matAutocomplete]="autoISBN"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('ISBN', 'ISBN_')">
                <mat-autocomplete #autoISBN="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let ISBN of listsOfValues.ISBN">
                        <mat-option *ngIf="bookForm.get('ISBN').value !== ISBN" [value]="ISBN">
                            {{ ISBN }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('publisher').value || ready2editing">
                <mat-label class="red">Publisher</mat-label>
                <input type="text" formControlName="publisher" matInput [matAutocomplete]="autoPublisher"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('publisher', 'Publisher')">
                <mat-autocomplete #autoPublisher="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let publisher of listsOfValues.publisher">
                        <mat-option *ngIf="bookForm.get('publisher').value !== publisher" [value]="publisher">
                            {{ publisher }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('published').value || ready2editing">
                <mat-label class="red">Published</mat-label>
                <input type="number" formControlName="published" matInput [matAutocomplete]="autoPublished"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('published', 'Published')">
                <mat-autocomplete #autoPublished="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let published of listsOfValues.published">
                        <mat-option *ngIf="bookForm.get('published').value !== +published" [value]="+published">
                            {{ published }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('language').value || ready2editing">
                <mat-label class="red">Language</mat-label>
                <mat-select interface="popover" formControlName="language" [ngClass]="ready2editing ? 'white' : 'gray'">
                    <mat-option value="cs-CZ">Česky</mat-option>
                    <mat-option value="en-US">English</mat-option>
                    <mat-option value="de-DE">Deutsch</mat-option>
                    <mat-option value="ru-RU">русский</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('translator').value || ready2editing">
                <mat-label class="red">Tranlator</mat-label>
                <input type="text" formControlName="translator" matInput [matAutocomplete]="autoTranslator"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('translator', 'Tranlator')">
                <mat-autocomplete #autoTranslator="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let translator of listsOfValues.translator">
                        <mat-option *ngIf="bookForm.get('translator').value !== translator" [value]="translator">
                            {{ translator }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('length').value || ready2editing">
                <mat-label class="red">Pages</mat-label>
                <input type="number" formControlName="length" matInput [matAutocomplete]="autoPages"
                    [ngClass]="ready2editing ? 'white' : 'gray'" [ngStyle]="onGetWidth('length', 'Pages')">
                <mat-autocomplete #autoPages="matAutocomplete" [panelWidth]="'auto'">
                    <ng-container *ngFor="let pages of listsOfValues.length">
                        <mat-option *ngIf="bookForm.get('length').value !== pages" [value]="pages">
                            {{ pages }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('progress').value || ready2editing">
                <mat-label class="red">Progress</mat-label>
                <input class="gray" disabled [value]="bookForm.get('progress').value" matInput>
            </mat-form-field>

            <mat-form-field *ngIf="bookForm.get('rating').value || ready2editing">
                <mat-label class="red">Rating</mat-label>
                <mat-select interface="popover" formControlName="rating" [ngClass]="ready2editing ? 'white' : 'gray'">
                    <mat-option [value]="0">0</mat-option>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="marged biogr" *ngIf="bookForm.get('annotation').value || ready2editing">
            <mat-label class="red">Annotation</mat-label>
            <div (click)="onReduceHeight()">
                <p class="contenteditable" [editable]="ready2editing" formControlName="annotation" matInput
                    [class]="ready2editing ? 'white' : 'gray'"
                    [ngClass]="{'reduced': bookForm.get('annotation').disabled && _textAreaReduced}">
                </p>
            </div>
        </div>

        <div #target
            *ngIf="ready2editing &&
            (onlineAllBooksList?.length || onlineBookList?.length || onlineBookListLegie?.length ||
             onlineShortStoriesListLegie?.length || onlineBookListOfAuthorCBDB?.length || onlineBookListCBDB)">
            <div class="online-item" *ngFor="let item of onlineBookList" (click)="downloadBookInfo(item)">
                <ion-avatar *ngIf="item.img">
                    <img [src]="item.img" />
                </ion-avatar>
                <div class="ion-text-wrap">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.comment }}</p>
                </div>
            </div>

            <div class="online-item" *ngFor="let item of onlineAllBooksList" (click)="downloadBookInfo(item)">
                <ion-avatar *ngIf="item.img">
                    <img [src]="item.img" />
                </ion-avatar>
                <div class="ion-text-wrap">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.comment }}</p>
                </div>
            </div>
            <div class="legies" *ngFor="let item of onlineBookListLegie">
                <h1 class="legies__serie" *ngIf="item.serie?.title">{{ item.serie.title }}</h1>
                <div *ngFor="let book of item.books" class="legies__book" (click)="downloadBookInfo(book)">
                    <h2 *ngIf="book.title">{{ book.title }}</h2>
                    <span *ngIf="book.review">{{ book.review }}</span>
                </div>
            </div>
            <h1 class="legies__serie" *ngIf="onlineShortStoriesListLegie?.length">Short stories</h1>
            <div class="legies" *ngFor="let item of onlineShortStoriesListLegie">
                <div class="legies__book" (click)="downloadShortStoryInfo(item)">
                    <h2 *ngIf="item.title">{{ item.title }}</h2>
                    <span *ngIf="item.review">{{ item.review }}</span>
                </div>
            </div>

            <div class="cbdb" *ngIf="onlineBookListCBDB">
                <div *ngFor="let dt of ['main', 'foreign', 'partly']">
                    <div *ngFor="let book of onlineBookListCBDB[dt]" (click)="downloadBookInfoCBDB(book.link)">
                        <ion-avatar *ngIf="book.img">
                            <img [src]="book.img" />
                        </ion-avatar>
                        <ion-avatar *ngIf="book.flag">
                            <img [src]="book.flag" />
                        </ion-avatar>
                        <h2 *ngIf="book.title">{{ book.title }}</h2>
                        <span *ngIf="book.author">{{ book.author }}</span>
                    </div>
                </div>
            </div>

            <div class="legies" *ngIf="onlineBookListOfAuthorCBDB?.length">
                <div *ngFor="let book of onlineBookListOfAuthorCBDB" (click)="downloadBookInfoCBDB(book.link)">
                    <ion-avatar *ngIf="book.img">
                        <img [src]="book.img" />
                    </ion-avatar>
                    <h2 *ngIf="book.title">{{ book.title }}</h2>
                    <span *ngIf="book.rating">{{ book.rating }}</span>
                </div>
            </div>
        </div>
    </form>
</ion-content>