ion-label {
    color: #ff3d3d !important;
    opacity: 1 !important;
}

.ng-invalid {
    color: red;
}

.bu-change-pic {
    position: absolute;
    top: 0%;
    left: 0%;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}

div.popover-content.sc-ion-popover-md {
    width: 100%;
}

ion-select {
    width: 100%;
  
    justify-content: center;
  }

  ion-select-popover {
      width: 95%;
  }

  mat-select {
      background: black;
  }

  mat-option {
      background: black;
      color: white;
  }

  mat-option:hover {
    background: rgb(56, 54, 54);
    color: white;
}