.cont {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 80vh;

    &__bb {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    mat-icon {
        position: absolute;
        right: 0rem;
    }

    button {
        font-size: 12px;
        text-transform: none;
    }

    .message {
        margin-left: 1rem;
    }
}