.cont {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

.progress-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.progress {
    ion-range {
        --bar-height: 30px;
        --height: 80px;
        --bar-border-radius: 80px;
        --knob-size: 0px;
    }

    ion-range-knob {
        display: none;
    }
}

ion-range {
    padding-top: 0;
}

.ranges {
    margin-right: 1rem;
}

.col {
    padding: 0;
}

.right {
    float: right;
}

.red {
    color: var(--mat-sys-error-container);
}

.mrgt {
    margin-top: 3rem;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    &__name {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__speed {
        flex-basis: 49%;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            background-color: var(--mat-sys-primary-container);
            border-radius: 5px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.overflowed {
    white-space: pre;
    overflow: visible;
    display: flex;
    width: 0px;
    color: gray;
}

.flexed {
    display: flex;
}

.fields {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;

    mat-chip.primary-bg {
        background-color: var(--mat-sys-primary-container);
    }
}

.vert {
    flex-direction: column;
}

.horiz {
    flex-direction: row-reverse;
    column-gap: 1rem;
    padding: 0 1rem;

    .progress {
        flex: 1;
    }

    .ranges {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 0;

        &>* {
            flex-grow: 0;
        }
    }

    .fields {
        flex-basis: 50%;

        mat-chip {
            width: fit-content;
            max-width: 50vw;
            overflow: hidden;
        }
    }
}

mat-slider {
    width: -webkit-fill-available;
}

.slider-cont {
    display: flex;
    align-items: center;

    mat-icon {
        width: 27px;
    }
}

.bb {
    display: flex;
    margin: .5rem;
    gap: 2px;

    // & > button {
    //     background-color: var(--mat-sys-primary-container);
    //     border-radius: 5px;
    // }
}

mat-chip {
    overflow: hidden;
}