.cont {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress {
    ion-range {
        --bar-height: 30px;
        --height: 80px;
        --bar-border-radius: 80px;
        --knob-size: 0px;
    }

    ion-range-knob {
        display: none;
    }
}

ion-range {
    padding-top: 0;
}

.ranges {
    margin-right: 1rem;
}

.col {
    padding: 0;
}

.right {
    float: right;
}

.red {
    color: red;
}

.mrgt {
    margin-top: 3rem;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    &__name {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__speed {
        flex-basis: 49%;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.overflowed {
    white-space: pre;
    overflow: visible;
    display: flex;
    width: 0px;
    color: gray;
}

.flexed {
    display: flex;
}

.fields {
    display: flex;
    flex-direction: column;
}

.vert {
    flex-direction: column;
}

.horiz {
    flex-direction: row-reverse;
    column-gap: 1rem;
    padding: 0 1rem;

    .progress {
        flex: 1;
    }

    .ranges {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 0;

        &>* {
            flex-grow: 0;
        }
    }

    .fields {
        flex-basis: 50%;
    }
}