ion-range {
    --bar-height: 30px;
    --height: 80px;
    --bar-border-radius: 80px;
    --knob-size: 0px;
}

ion-range-knob {
    display: none;
}

.col {
    padding: 0;
}

.right {
    float: right;
}

.red {
    color: red;
}

.white {
    color: white;
}

.spinner {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(9);
    left: 50%;
    top: 50%;
}
