ion-searchbar,
ion-segment-button {
    color: white;
}

ion-avatar {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

h2 {
    margin-bottom: 0px;
}

.bb {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
}

ion-header {
    overflow: hidden;
}

.chars {
    display: flex;
    gap: .5rem;
    width: 100%;
    overflow: auto;
    margin: .5rem;

    &>div {
        padding: .5rem;
    }

    .selected-char {
        font-weight: 500;
        background-color: var(--mat-sys-secondary-container);
        border-radius: .5rem;
    }
}

.row {
    display: flex;
    align-items: center;
    gap: .5rem;

    mat-form-field {
        width: 100%;
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem;
    background-color: var(--mat-sys-surface);
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--mat-sys-on-secondary-fixed);
    border-radius: 2rem;
    padding: .5rem;

    .width {
        width: 70%;
    }

    .column {
        display: flex;
        flex-direction: column;

        .weighted {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .grayed {
            color: #9e9e9e
        }
    }
}

.overflowed {
    overflow: hidden;
}