ion-searchbar,
ion-segment-button {
    color: white;
}

ion-avatar {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

h2 {
    margin-bottom: 0px;
}

@mixin bb {
    position: fixed;
    bottom: 5px;
}

.sp-bu { 
    &__play {
        right: 4px;
        @include bb;
    }
    &__share {
        left: 5px;
        @include bb;
    }
}

ion-header {
    overflow: hidden;
}