<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar show-cancel-button="focus" [debounce]="1000" (ionInput)="onSearch($event)"
                    (ionFocus)="hideCharacters = true" (ionBlur)="hideCharacters = false"
                    (ionClear)="onSearchClear()"></ion-searchbar>
            </ion-col>
            <ion-col size="1">
                <ion-button (click)="where2SearchFn()">
                    {{ where2Search }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment scrollable *ngIf="!hideCharacters && where2Search === 'A'" [value]="selectedCharacter">
        <ion-segment-button *ngFor="let character of alphabet" [value]="character"
            (click)="changeSelectedChar(character, 'authors')">
            <ion-label>{{ character }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-segment scrollable *ngIf="!hideCharacters && where2Search === 'B'" [value]="bookSearchBy">
        <ion-segment-button *ngFor="let character of ['liked','started','finished']" [value]="character"
            (click)="changeSelectedChar(character, 'books')">
            <ion-label>{{ character }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list class="ion-padding">
        <ng-container *ngIf="where2Search === 'A'">
            <ion-item *ngFor="let author of authors" [routerLink]="['/author', author.id]">
                <ion-avatar>
                    <img [src]="onGetImgSrc(author.img)" alt="img" />
                </ion-avatar>

                <ion-label>
                    <h2>{{ author.surname }}</h2>
                    <p>{{ author.name }}</p>
                </ion-label>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="where2Search === 'B'">
            <ion-item *ngFor="let book of books" [routerLink]="['/book', book.id]">
                <ion-avatar>
                    <img [src]="onGetImgSrc(book.img)" alt="img" />
                </ion-avatar>

                <ion-label>
                    <h2 class="ion-text-wrap">{{ book.title }}</h2>
                    <ion-progress-bar *ngIf="book.progress" [value]="(book.progress | percent2:book.progress) / 100">
                    </ion-progress-bar>
                </ion-label>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-button *ngIf="lastListened" (click)="onShowDialog()" class="sp-bu__share">
        <ion-icon slot="icon-only" name="share"></ion-icon>
    </ion-button>
    <!-- <ion-button (click)="chooseAFile()" class="sp-bu__share">
        <ion-icon slot="icon-only" name="share"></ion-icon>
    </ion-button> -->
    <ion-button *ngIf="lastListened" class="sp-bu__play" (click)="onGo2Last()">
        <ion-icon slot="icon-only" name="play-sharp"></ion-icon>
    </ion-button>
</ion-content>