ion-searchbar,
ion-segment-button {
    color: white;
}

ion-avatar {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

h2 {
    margin-bottom: 0px;
}

.bb {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
}

ion-header {
    overflow: hidden;
}