<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar [(ngModel)]="filterStatus" (ionFocus)="hideCharacters = true"
                    (ionBlur)="hideCharacters = false"></ion-searchbar>
            </ion-col>
            <ion-col size="1">
                <ion-button (click)="where2SearchFn()">
                    {{ where2Search }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment scrollable *ngIf="!hideCharacters && where2Search === 'A'">
        <ion-segment-button *ngFor="let character of alphabet" [value]="character"
            (click)="changeSelectedChar(character, 'authors')">
            <ion-label>{{ character }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-segment scrollable *ngIf="!hideCharacters && where2Search === 'B'">
        <ion-segment-button *ngFor="let character of ['liked','started','finished']"
            [value]="character" (click)="changeSelectedChar(character, 'books')">
            <ion-label>{{ character }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list class="ion-padding">
        <div *ngIf="where2Search === 'A'">
            <ion-item
                *ngFor="let author of authors | filter:filterStatus:selectedCharacter:'author'"
                [routerLink]="['/author', author.id]">
                <ion-col size="3">
                    <div *ngIf="author.img">
                        <ion-avatar>
                            <img [src]="onGetImgSrc(author.img)" />
                        </ion-avatar>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-label>
                        <h2>{{ author.surname }}</h2>
                        <p>{{ author.name }}</p>
                    </ion-label>
                </ion-col>
            </ion-item>
        </div>
        <div *ngIf="where2Search === 'B'">
            <ion-item *ngFor="let book of books"
                [routerLink]="['/book', book.id]">
                <div *ngIf="book.img">
                    <ion-avatar>
                        <img [src]="onGetImgSrc(book.img)" />
                    </ion-avatar>
                </div>

                <ion-label>
                    <h2 class="ion-text-wrap">{{ book.title }}</h2>
                    <ion-progress-bar *ngIf="book.progress"
                        [value]="(book.progress | percent2:book.progress) / 100"></ion-progress-bar>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-button *ngIf="lastListenedBookId !== null" class="sp-bu__play" 
        [routerLink]="['/tts', lastListenedBookId]">
        <ion-icon slot="icon-only" name="play-sharp"></ion-icon>
    </ion-button>
    <ion-button *ngIf="lastListenedBookId !== null" (click)="onDBExport()" class="sp-bu__share" >
        <ion-icon slot="icon-only" name="share"></ion-icon>
    </ion-button>
</ion-content>