.close-circle {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.cont {
    padding: 1rem;
}

mat-form-field {
    width: 100%;
    margin: .5rem 0;
}

.cont__bb {
    display: flex;
    justify-content: space-between;
}