<div class="cont">
    @if (data.header) {
        <h1 mat-dialog-title>{{ data.header }}</h1>
    }
    <ion-icon class="close-circle" name="close-circle" (click)="onClose()"></ion-icon>
    <div>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label class="red" position="floating">Name</mat-label>
            <input type="text" matInput [formControl]="fg.controls.name" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label class="red" position="floating">Surname</mat-label>
            <input type="text" matInput [formControl]="fg.controls.surname" />
            <mat-error>Set surname</mat-error>
        </mat-form-field>
    </div>
    <div class="cont__bb">
        <button mat-flat-button (click)="onClose()"> Cancel </button>
        <button mat-flat-button (click)="onAddAuthor()"> Add </button>
    </div>
</div>
